<div class="container">
    <label for="dropdown">Select a Topic</label>
    <select id="dropdown" [(ngModel)]="selectedCategory" (change)="onSelect($event)">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>

    <p>Currently selected Category - {{selectedCategory}}</p>
    <div class="radio-group">
        <div *ngFor="let array of labeledJsonArrays">
            <div *ngIf="array.category === selectedCategory" class="radio-option">
                <input type="radio" [id]="array.key" name="questionArray" [value]="array.label"
                    (change)="onArraySelectionChange(array.key)" [checked]="array.key === selectedKey" />
                <label [for]="array.label">{{ array.label }}</label>
            </div>
        </div>
    </div>
</div>