<div>
    <!-- Tab Navigation -->
    <ul class="tab-nav">
        <li (click)="setActiveTab('selection')" [class.active]="activeTab === 'selection'">Preferences</li>
        <li (click)="setActiveTab('questions')" [class.active]="activeTab === 'questions'">Practice Board</li>
    </ul>

    <br>
    <!-- Tab Content -->
    <div *ngIf="activeTab === 'selection'">
        <h3>Select a category to practice</h3>
        <div *ngFor="let array of labeledJsonArrays">
            <input *ngIf="array.visibility" type="radio" [id]="array.key" name="questionArray" [value]="array.label"
                (change)="onArraySelectionChange(array.key)" [checked]="array.key === selectedKey" />
            <label *ngIf="array.visibility" [for]="array.label">{{ array.label }}</label>
        </div>

        <h3>Select speed (Seconds)</h3>
        <select (change)="onIntervalChange($event)" [value]="selectedInterval">
            <option *ngFor="let interval of [5, 10, 15, 20, 30]" [value]="interval">{{ interval }}</option>
        </select>
        Current Interval - {{selectedInterval}}

        <h3>Select the answer visibility </h3>
        <select (change)="onShowAnswerChange($event)" [value]="showAnswerOption">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
        </select>
        Current show answer value - {{showAnswerOption}}

        <h3>Select the hint visibility </h3>
        <select (change)="onShowHintChange($event)" [value]="showHint">
            <option [value]="true">Yes</option>
            <option [value]="false">No</option>
        </select>
        Current show answer value - {{showHint}}
    </div>

    <div *ngIf="activeTab === 'questions'">
        <p><span [innerHTML]="processedCurrentQuestion"></span></p>
        <p *ngIf="showHint"><strong>Hint:</strong> {{ currentHint }}</p>
        <p *ngIf="showAnswer"><span [innerHTML]="processedCurrentAnswer"></span></p>
        <button (click)="revealAnswer()">Show Answer</button>&nbsp;&nbsp;&nbsp;
        <button (click)="loadRandomQuestion()">Next Question</button>

    </div>
    <br>
    <br>
</div>