<div class="container">
    <!-- Tab Navigation -->
    <ul class="tab-nav">
        <li (click)="setActiveTab('selection')" [class.active]="activeTab === 'selection'">Practice Board</li>
        <li (click)="setActiveTab('questions')" [class.active]="activeTab === 'questions'">Preferences</li>
    </ul>

    <div class="tab-content">
        <!-- Selection Tab Content -->
        <div *ngIf="activeTab === 'selection'">
            <div style="background-color: snow">
                <p class="No: "><span [innerHTML]="(questionStartIndex) + ' of ' + questionsAndAnswers.length"></span>
                </p>
                <p class="question"><span [innerHTML]="processedCurrentQuestion"></span></p>
                <p *ngIf="showHint" class="hint"><strong>Hint:</strong> {{ currentHint }}</p>
                <p *ngIf="showAnswer" class="answer"><span [innerHTML]="processedCurrentAnswer"></span></p>
                <BR>
                <div class="button-group">
                    <button (click)="revealAnswer()">Show Answer</button>
                    <button (click)="loadRandomQuestion()">Next Question</button>
                </div>
            </div>
        </div>

        <!-- Questions Tab Content -->
        <div *ngIf="activeTab === 'questions'">
            <h3>Select display pattern (Sequential or Random)</h3>
            <select [(ngModel)]="selecteddisplayPattern" (change)="onDisplayPatternChange($event)">
                <option *ngFor="let displayPattern of displayPatterns" [value]="displayPattern">{{ displayPattern }}
                </option>
            </select>
            <p>Current display pattern - {{selecteddisplayPattern}}</p>

            <h3>Select speed (Seconds)</h3>
            <select (change)="onIntervalChange($event)" [value]="selectedInterval">
                <option *ngFor="let interval of [5, 10, 15, 20, 30]" [value]="interval">{{ interval }}</option>
            </select>
            <p>Current Interval - {{selectedInterval}}</p>

            <h3>Select the answer visibility</h3>
            <select (change)="onShowAnswerChange($event)" [value]="showAnswerOption">
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
            </select>
            <p>Current show answer value - {{showAnswerOption}}</p>

            <h3>Select the hint visibility</h3>
            <select (change)="onShowHintChange($event)" [value]="showHint">
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
            </select>
            <p>Current show hint value - {{showHint}}</p>
        </div>
    </div>
</div>