<!-- <body> -->
<div class="mainbody">
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
        <img width="60" alt="Angular Logo" src="https://gearupengx.s3.ap-south-1.amazonaws.com/images/Logo-EngX.jpg" />
        <div class="welcome-text">
            <h3>Welcome to EngX</h3>
            <p>A platform for mastering your communication skills!</p>
        </div>
        <div class="spacer"></div>
    </div>
    <!-- <div>
        <nav>
            <ul>
                <li><a routerLink="/page-one">Page One</a></li>
                <li><a routerLink="/page-two">Page Two</a></li>
            </ul>
        </nav>
    </div> -->
    <div>
        <nav class="navbar">
            <ul class="menu-bar">
                <li><a routerLink="/page-one" routerLinkActive="active">Practice Set</a></li>
                <li><a routerLink="/page-two" routerLinkActive="active">Test Set</a></li>
                <li><a routerLink="/page-three" routerLinkActive="active">Image set</a></li>
            </ul>
        </nav>
    </div>
    <!-- <div class="content" role="main">
        <div class="container">
            <div class="left-panel">
                
                <app-topicselector></app-topicselector>
            </div>
            <div class="right-panel">
                
                <app-details></app-details>
            </div>
        </div>
    </div> -->
    <!-- <div>
        <div *ngFor="let question of questionsArr">
            <app-quizz [questionId]=question.questionId [questionText]=question.questionText
                [options]=question.options></app-quizz>
        </div>
        <button (click)="showResults = true">Submit</button>
        <button (click)="showResults = false">Reset</button>

        <app-result *ngIf="showResults"></app-result>

    </div> -->
    <router-outlet></router-outlet>
    <footer>
        Have a great day ahead!
    </footer>
</div>


<!-- </body> -->