<body>
    <div class="mainbody">
        <!-- Toolbar -->
        <div class="toolbar" role="banner">
            <img width="60" alt="Angular Logo"
                src="https://gearupengx.s3.ap-south-1.amazonaws.com/images/Logo-EngX.jpg" />
            <div class="welcome-text">
                <h3>Welcome to EngX</h3>
                <p>A platform for mastering your communication skills!</p>
            </div>
            <div class="spacer"></div>
        </div>

        <div class="content" role="main">
            <app-questionlabeled></app-questionlabeled>
            <footer>
                Have a great day ahead!
            </footer>
        </div>
        <router-outlet></router-outlet>
    </div>
</body>