<div class="container">
    <!-- Tab Navigation -->
    <ul class="tab-nav">
        <li (click)="setActiveTab('selection')" [class.active]="activeTab === 'selection'">Daily routines</li>
        <li (click)="setActiveTab('questions')" [class.active]="activeTab === 'questions'">Recurrence</li>
    </ul>

    <div class="tab-content">
        <!-- Selection Tab Content -->
        <div *ngIf="activeTab === 'selection'">
            <img [src]="environment.assetBaseUrl + 'inputs/images/' + 'RoutinesforPractice.png'" alt="logo" />
        </div>

        <!-- Questions Tab Content -->
        <div *ngIf="activeTab === 'questions'">
            <img [src]="environment.assetBaseUrl + 'inputs/images/' + 'Recurrence.png'" alt="logo" />
        </div>
    </div>
</div>