<div class="container">
    <!-- Tab Navigation -->
    <ul class="tab-nav">
        <li (click)="setActiveTab('selection')" [class.active]="activeTab === 'selection'">Daily routines</li>
        <li (click)="setActiveTab('questions')" [class.active]="activeTab === 'questions'">Recurrence</li>
    </ul>

    <div class="tab-content">
        <!-- Selection Tab Content -->
        <div *ngIf="activeTab === 'selection'">
            <img
                src="http://englishroutines.s3-website.ap-south-1.amazonaws.com/inputs/images/RoutinesforPractice.png" />
        </div>

        <!-- Questions Tab Content -->
        <div *ngIf="activeTab === 'questions'">
            <img src="http://englishroutines.s3-website.ap-south-1.amazonaws.com/inputs/images/Recurrence.png" />
        </div>
    </div>
</div>