<div class="container">
    <label for="dropdown"><b>Select a Topic</b></label>
    <select id="dropdown" [(ngModel)]="selectedTestCategory" (change)="onSelect($event)">
        <option *ngFor="let category of categoriesNew" [value]="category.topicName">{{ category.topicName }}</option>
    </select>

    <div class="radio-group">
        <div *ngFor="let array of labeledJsonArrays">
            <div *ngIf="array.category === selectedTestCategory" class="radio-option">
                <input type="radio" [id]="array.key" name="questionArray" [value]="array.label"
                    (change)="onArraySelectionChange(array.key)" [checked]="array.key === selectedKey" />
                <label [for]="array.label">{{ array.label }}</label>
            </div>
        </div>
    </div>
</div>